<div class="card-editor-face" [style]="getDropListStyle()" cdkDropList cdkDropListSortingDisabled="true" #cardEditorFace>
    @if (currentCardFaceElementsPerCardFace.length > 0) {
        <!--CHECKME: Track by ID, but caveat is it cause issues in scenarios where you expect the DOM or child component to fully re-render or reset—such as when generating a thumbnail image-->
        <!--Which means there might need to be a potential refactor-->
        @for (currentCardFaceElementPerCardFace of currentCardFaceElementsPerCardFace; track currentCardFaceElementPerCardFace.cardFaceElementPerCardFaceId) {
        <div class="dnd-wrapper" cdkDrag cdkDragBoundary=".card-editor-face" 
            (cdkDragStarted)="onDragStarted($event, currentCardFaceElementPerCardFace)"
            (cdkDragMoved)="onDragMoved($event)"
            (cdkDragDropped)="onDragDropped($event)" 
            (cdkDragEnded)="onDragEnded($event, currentCardFaceElementPerCardFace)"
            [cdkDragData]="currentCardFaceElementPerCardFace"
            [style.left.px]="currentCardFaceElementPerCardFace.dndPosition.x"
            [style.top.px]="currentCardFaceElementPerCardFace.dndPosition.y"
            [style.z-index]="currentCardFaceElementPerCardFace.cardFaceElement.style?.zIndex ?? 'inherit'"
            [attr.card-face-element-id]="currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId"
            #cardFaceElement>
            <!--TODO: Potentially refactor to use ngComponentOutlet, possibly call onRevokeSrc of card face image there?-->
            @switch (currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementType) {
                @case ("Rte") {
                    <app-card-face-rt 
                        [cardFaceRtWidth]="getCardFaceElementDimensions(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId).width"
                        [cardFaceRtHeight]="getCardFaceElementDimensions(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId).height"
                        (mousedown)="onEnableRte($event, currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId)"
                        [content]="getCardFaceElementRtContentByCardFaceElementId(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId)">
                    </app-card-face-rt>
                }
                @case ("Image") {
                    <app-card-face-image 
                        (mousedown)="onFocusImage(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId)"
                        [cardFaceImageSrc]="getCardFaceElementImageSrcByCardFaceElementId(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId) ?? placeholderImageSrc"
                        [cardFaceImageWidth]="getCardFaceElementDimensions(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId).width"
                        [cardFaceImageHeight]="getCardFaceElementDimensions(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId).height">
                        <button class="change-image-button" (click)="onEnableImageEditor(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId)">Change image</button>
                    </app-card-face-image>
                }
            }
            @if (currentEditedCardFaceElementId === currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId) {
                <app-card-editor-element-delete-button
                    [cardFaceElementPerCardFaceId]="currentCardFaceElementPerCardFace.cardFaceElementPerCardFaceId"
                    data-html2canvas-ignore="true" />
                <app-resizable-wrapper
                    [dimensions]="getCardFaceElementDimensions(currentCardFaceElementPerCardFace.cardFaceElement.cardFaceElementId)"
                    (resizableChange)="onResizableChange($event)" data-html2canvas-ignore="true" />
            }
        </div>
        }
    }
</div>