.card-editor-face {
    position: relative;
    overflow: hidden;
}

/*absolute: positions to closest ancestory that's RELATIVE*/
.card-face-element-dnd-wrapper {
    position: absolute;
    /*background: rgba(0,0,0,0.1);*/
    width: fit-content;
    height: fit-content;
}

.change-image-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.change-image-button:hover {
    opacity: 1;
}

button {
    background-color: #173552;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: small;
    border-radius: 5px;
    border: none;
    padding: 5px 9px;
    margin-right: 7px;
}

button:hover {
    background-color: #4d8a97;
}

button:active {
    background-color: #f46d4f;
}