<div [style]="getStyle()">
    <!--TODO: Fix the styling of this div, needs to scale properly, the arrows should always be at the corner of the object-->
    <div class="resizable-handles-area" (mousedown)="onResizeStart($event)" style="display: flex; gap: 16px; align-items: center;">
        <!-- Bottom-Right Arrow -->
        <svg class="resizable-bottom-right-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 14L2 2M14 14L10 14M14 14L14 10" stroke="#000000" stroke-width="2" stroke-linecap="round" />
        </svg>

        <!-- Bottom-Left Arrow -->
        <svg class="resizable-bottom-left-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 14L14 2M2 14L6 14M2 14L2 10" stroke="#000000" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>

        <!-- Top-Right Arrow -->
        <svg class="resizable-top-right-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 2L2 14M14 2L10 2M14 2L14 6" stroke="#000000" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>

        <!-- Top-Left Arrow -->
        <svg class="resizable-top-left-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2L14 14M2 2L6 2M2 2L2 6" stroke="#000000" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>
</div>