.dnd-board {
    height:  100vh;
    width: 100vh;
}

/* TODO: Modify this so that you can use this CSS anywhere, probably should be dynamic, set the background size*/
.cell {
    position: absolute;
    inset: inherit;
    z-index: 0;
    pointer-events: none;
    background-image:
        linear-gradient(to right, rgb(203 213 225) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-size: 50px 50px;
    width: 100%;
    height: 100%;
}