<div>
    <div>
        <button (click)="onCardEditor()">Card editor</button>
    </div>
    @if (isCurrentPopupMenuOpen) {
        <!--<ng-container 
            *ngComponentOutlet="getCurrentPopupMenuComponent(); inputs: popupMenuInputs;"
        />-->
    }
    <div cdkDropListGroup> <!--CHECKME: Figure out drop list groups and discriminating against certain groups-->
        <!--TODO: Separate the app-dnd-resizable-container entirely from the components it's surrounded by-->
        <!--@for (let item of _items; let i = index) {
            <!--Standalone cards-->
            <!--@if (isCard(item)) {
                <app-card 
                    [(card)]="item" 

                    (cardChange)="onCardChange($event)" 
                    (actionContextMenuItemsChange)="onActionContextMenuItemsChange($event)"
                >
                    @if (item.isDraggable || item.isDroppable) {
                        <app-dnd-wrapper
                            [dragData]="item"

                            (onDragMoveChange)="onDragMove($event)"
                            (onDragEnteredChange)="onDragEntered($event)"
                            (onDragDrop)="onDragDrop($event)"
                            (onDragExited)="onDragExited($event)"
                        />
                    }
                </app-card>
            }
            <!--Decks and their cards-->
            <!--@else if (isDeck(item)) {
                <app-deck 
                    [(deck)]="deck" 

                    (deckChange)="onDeckChange($event)" 
                    (actionContextMenuItemsChange)="onActionContextMenuItemsChange($event)"
                    (onDisplaceCardChange)="onDisplaceCardChange($event)"
                >
                    @for ("let card in getCardsFromDeck(item); let i = index") {
                        <app-card 
                            [(card)]="card" 

                            (cardChange)="onCardChange($event)"
                            (actionContextMenuItemsChange)="onActionContextMenuItemsChange($event)"
                        >
                            @if (card.dndItem.isDraggable || card.dndItem.isDroppable) {
                                <app-dnd-wrapper
                                    [dragData]="card"

                                    (onDragMoveChange)="onDragMove($event)"
                                    (onDragEnteredChange)="onDragEntered($event)"
                                    (onDragDrop)="onDragDrop($event)"
                                    (onDragExited)="onDragExited($event)"
                                />
                            }
                        </app-card>
                    }
            
                    @if (item.isDraggable || item.isDroppable) {
                        <app-dnd-wrapper
                            [dragData]="item"

                            (onDragMoveChange)="onDragMove($event)"
                            (onDragEnteredChange)="onDragEntered($event)"
                            (onDragDrop)="onDragDrop($event)"
                            (onDragExited)="onDragExited($event)"
                        />
                    }
                    <app-resizable-wrapper/>
                </app-deck>
            }
        }
    </div>
    @if (showActionContextMenu) {
        <app-action-context-menu [actionContextMenuItems]="actionContextMenuItems"></app-action-context-menu>
    }!-->
</div>