<div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListSortingDisabled]="true"
    [style.opacity]="getDisabledAesthetics()">
    <div title="Rich text" cdkDrag (cdkDragDropped)="onDragDropped($event)" [style.z-index]="0"
        [cdkDragData]="'Rt'">
        <img src="/card-editor-controls_card-face-elements-list_text-element-icon.svg"
            alt="Placeholder square image" width="50" height="50" />
    </div>
    <div title="Image" cdkDrag (cdkDragDropped)="onDragDropped($event)" [style.z-index]="0"
        [cdkDragData]="'Image'">
        <img src="/card-editor-controls_card-face-elements-list_image-element-icon.svg"
            alt="Placeholder square image" width="50" height="50" />
    </div>
</div>
