[cdkDropList] {
    display: flex;
    background-color: #949495;
    flex-direction: row; /* This makes children line up horizontally */
    gap: 12px;           /* Optional: adds space between items */
    align-items: center; /* Optional: aligns items at the top */
  }