.card-face-element-attributes-container {
    height: auto;
    width: auto;
}

.card-face-element {
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    color: #666667;
    display: block;
    font-family: "Kumbh Sans", sans-serif;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 12px 8px;
    border-left: 3px solid #666667;
}

td {
    vertical-align: middle;
    font-weight: bold;
    color: #666667;
    font-family: 'Roboto', sans-serif;
}

input[type="number"] {
    width: 60px;
    padding: 5px 8px;
    font-weight: bold;
    border: 2px dotted #ccc;
    background-color: #d1d0d0;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}