<app-card-editor-controls-element-layering-attributes/>
<div class="container">
    <span class="element">
        Element: {{ id() }}
    </span>
  <table>
    <tr>
        <td>W:</td>
        <td><input id="width" type="number" placeholder="W" min="0" [ngModel]="dimensions.width" (ngModelChange)="onWidthChange($event)"></td>
    </tr>
    <tr>
        <td>H:</td>
        <td><input type="number" id="height" placeholder="H" min="0" [ngModel]="dimensions.height" (ngModelChange)="onHeightChange($event)"></td>
    </tr>
    <tr>
        <td>X:</td>
        <td><input type="number" id="x" placeholder="X" min="0" [ngModel]="coordinates.x" (ngModelChange)="onXChange($event)"></td>
    </tr>
    <tr>
        <td>Y:</td>
        <td><input type="number" id="y" placeholder="Y" min="0" [ngModel]="coordinates.y" (ngModelChange)="onYChange($event)"></td>
    </tr>
</table>
</div>