.card-face-element-attributes-container {
    border-left: 3px solid #666667;
}

.card-face-element {
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    color: #666667;
    display: block;
    font-family: "Kumbh Sans", sans-serif;
    white-space: nowrap;
}