<svg (mousedown)='onCornerClick($event, "top-left")' class="resizable-top-left-arrow" width="10" height="10"
    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" pointer-events="auto">
    <polyline points="0,20 20,0 20,20" stroke="#555" stroke-width="2" fill="none" />
    <polyline points="5,20 20,5" stroke="#555" stroke-width="2" fill="none" />
</svg>

<svg (mousedown)='onCornerClick($event, "top-right")' class="resizable-top-right-arrow" width="10" height="10"
    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" pointer-events="auto">
    <polyline points="0,20 20,0 20,20" stroke="#000" stroke-width="2" fill="none" />
    <polyline points="5,20 20,5" stroke="#000" stroke-width="2" fill="none" />
</svg>

<svg (mousedown)='onCornerClick($event, "bottom-left")' class="resizable-bottom-left-arrow" width="10" height="10"
    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" pointer-events="auto">
    <polyline points="0,20 20,0 20,20" stroke="#555" stroke-width="2" fill="none" />
    <polyline points="5,20 20,5" stroke="#555" stroke-width="2" fill="none" />
</svg>

<svg (mousedown)='onCornerClick($event, "bottom-right")' class="resizable-bottom-right-arrow" width="10" height="10"
    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" pointer-events="auto">
    <polyline points="0,20 20,0 20,20" stroke="#555" stroke-width="2" fill="none" />
    <polyline points="5,20 20,5" stroke="#555" stroke-width="2" fill="none" />
</svg>