<div class = "game-room-layout">
    <div class="dnd-board-layer" #dndBoard>
        <app-dnd-board/>
    </div>
    
    <div class ="game-room-player-layer">
        <app-game-room-nav/>

        <app-cards-collection />
    </div>

    @if (cardGameCoreService.isCardEditorOpen()) {
        <div class = "game-room-editor">
            <app-card-editor/>
        </div>
    }

    @if (isWikiOpen) {
        <div class ="embedded-spadeboard-wiki">
            <app-embedded-external-iframe [websiteUrl]="wikiWebsiteUrl" (onCloseInfo)="onCloseInfo()"/>
        </div>
    }
</div>

<!-- TODO: Put the board in here-->
