.dnd-board {
    height:  100vh;
    width: 100vw;
    overflow: auto;
    position: relative;
}

/* Vertical Scrollbar */
.dnd-board::-webkit-scrollbar {
  width: 30px;
  background-color: #f0f0f0; /* Track */
}

.dnd-board::-webkit-scrollbar-thumb {
  background: #888; /* Thumb */
  border-radius: 25px;
  border: 5px solid transparent; /* Creates padding */
  background-clip: content-box; /* Contains color within padding */
}

/* Horizontal Scrollbar */
.dnd-board::-webkit-scrollbar:horizontal {
  height: 15px;
  background-color: #f0f0f0; /* Track */
}

.dnd-board::-webkit-scrollbar-thumb:horizontal {
  background: #888; /* Thumb */
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

/* Hover States */
.dnd-board::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb */
}

/* TODO: Modify this so that you can use this CSS anywhere, probably should be dynamic, set the background size*/
.grid {
    position: absolute;
    inset: inherit;
    transform-origin: top left;
    z-index: 0;
    pointer-events: none;
    background-image:
        linear-gradient(to right, rgb(203 213 225) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-color: #F0F0F0;
}