.dnd-board {
    height:  100%;
    width: 100%;
    overflow: auto;
    position: relative;
}

/* Vertical Scrollbar */
.dnd-board::-webkit-scrollbar {
  width: 30px;
  background-color: #f0f0f0; /* Track */
}

.dnd-board::-webkit-scrollbar-thumb {
  background: #888; /* Thumb */
  height: 50px;
  border-radius: 25px;
  border: 5px solid transparent; /* Creates padding */
  background-clip: content-box; /* Contains color within padding */
}

/* Horizontal Scrollbar */
.dnd-board::-webkit-scrollbar:horizontal {
  height: 85px;
  background-color: #f0f0f0; /* Track */
}

.dnd-board::-webkit-scrollbar-thumb:horizontal {
  background: #888; /* Thumb */
  border-radius: 10px;
  width: 50px;
  border: 5px solid transparent;
  background-clip: content-box;
}

/* Hover States */
.dnd-board::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb */
}