@for (cpr of cprs; track cpr) {
    <div 
        cdkDrag
        class="cpr-cdk"
        [style.left.px]="cpr.dndPosition.x"
        [style.top.px]="cpr.dndPosition.y"
        [style.width]="'fit-content'"
        [style.height]="'fit-content'"
        (cdkDragMoved)="onDragMoved($event)"
        (cdkDragDropped)="onDragDrop($event, cpr)"
    >
        <app-card [card]="cpr.card"/>
    </div>
    <!--
    <div 
        cdkDrag
        class="cpr-cdk"
        [style.left.px]="cpr.dndPosition.x"
        [style.top.px]="cpr.dndPosition.y"
        [style.width]="'fit-content'"
        [style.height]="'fit-content'"
        (cdkDragMoved)="onDragMoved($event)"
        (cdkDragDropped)="onDragDrop($event, cpr)"
        [cdkDragConstrainPosition]="computeDragRenderPos"
    >
        FIXME: Position can't be absolute
        <app-card [card]="cpr.card"/>
    </div>-->
}
