<!--TODO: Modify this so that the inside of the component for the card, it actually switches between multicard faces-->
<div [style.transform]="transform()" (contextmenu)="onCardRightClick($event)">
    <app-card-face [cardFaceInput]="currentCardFace" />
</div>
@if (isDisplayContextMenu)
{
    <app-action-context-menu [ngStyle]="getRightClickMenuStyle()" [actionContextMenuItems]="actionContextMenuItems"
        (onActionContextMenuItemClick)="handleActionContextMenuItemClick($event)"></app-action-context-menu>
}