<!--TODO: Modify this so that the inside of the component for the card, it actually switches between multicard faces-->
<div (contextmenu)="onCardRightClick($event)">
    <app-card-face [cardFaceInput]="currentCardFace" [cardFaceScale]="cardScaleComputed()" #cardFace/>
</div>
@if (isDisplayContextMenu)
{
    <app-action-context-menu [ngStyle]="getRightClickMenuStyle()" [actionContextMenuItems]="actionContextMenuItems"
        (onActionContextMenuItemClick)="handleActionContextMenuItemClick($event)"></app-action-context-menu>
}