.card-face-attributes-columns {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5rem;
    align-items: start; 
    border-left: 3px solid #666667;
    width: 50%;
    margin-top: 1.5%;
}

.card-face-attributes-container {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    padding-left: 10%;
    padding-top: 10%;
    width: 125%;
}

.card-edge-attributes-container {
  display: flex;
  flex-direction: column;  
  gap: 0.6rem;   
}

#edge-attributes-header {
  font-family: "Kumbh Sans", sans-serif;
  font-size: medium;
  color: #676767;
  font-weight: bold;
}