/* You can add global styles to this file, and also import other style files */
@use "ngx-tagify/styles/tagify";

html,
body {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/static/Roboto-Regular.ttf');
  }

angular-editor-toolbar button i {
    font-family: FontAwesome !important;
    color: black !important;
}

/*NOTE: Overrides the default resizing overall for Angular Editor on card face, originally it was vertical*/
#card-face-rt .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    resize: none !important;
}

/*NOTE: Only applies to the rte component, currently only used in the Card Editor*/
#card-face-rte .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    resize: none !important;
}

/*NOTE: Only applies to the card editor preview tags component, currently only used in the Card Editor*/
/* Override the tag appearance */
#card-editor-preview-tags .tagify {
  --tag-bg: #3A454F !important;
  --tag-text-color: #E6EBEE !important;
  --tag-border-radius: 5px;
  --tag-hover: #4d8a97;
  --tags-border-color: #959595;
  --tag-remove-btn-bg: #676767;
  --tag-remove-btn-color: #FFFFFF;
  --tag-remove-bg: #7e3434;
  --tag-max-width: 11ch;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    display: flex;
    width:  500px;
    max-width: 500px;
    max-height:  35px;
    overflow: auto;
}

.tagify__dropdown {
    --tagify-dd-text-color: #E6EBEE !important;
    --tagify-dd-bg-color: rgba(58, 69, 79, 1);
    --tagify-dd-color-primary: #4d8a97;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

#card-editor-preview-tags .tagify__tag__removeBtn {
  border: 1px solid #FFFCFA;
}

/* Override the input appearance */
#card-editor-preview-tags .tagify__input {
    background-color: rgba(243, 243, 243, 0.5) !important;
    border-width: 1px !important;
    color: inherit; /* Optional: inherit text color */
}

/*https://github.com/kolkov/angular-editor/issues/346*/
/*https://www.reddit.com/r/Angular2/comments/14se16t/need_help_with_overwriting_material_ui_styles_in/*/
/* .angular-editor[_ngcontent-ng-c812328343] .angular-editor-wrapper[_ngcontent-ng-c812328343] .angular-editor-textarea[_ngcontent-ng-c812328343]  */