/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
}

angular-editor-toolbar button i {
    font-family: FontAwesome !important;
    color: black !important;
}