<div class ="color-picker-container">
    <div class="color-picker-separator">
        <input id="color-picker-input" type="color"
            [(ngModel)]="hexcode"
            (ngModelChange)="onColorChange($event)" />
        <span>{{colorPickerName()}}</span>
    </div>
    <div class="color-picker-separator">
        <input id="color-hex-input" 
            [attr.max-length]="7" 
            [(ngModel)]="hexInput" 
            (ngModelChange)="onColorChange($event)"
            #colorHexInput />
    </div>
</div>