<!-- TODO: Pass in ngStyle, grab the DndPosition too and set the style.px.left and style.px.top -->
<div
    [style.position]="'html.attrs.style.position'"
    [style.width.px]="html.attrs.style.width"
    [style.height.px]="html.attrs.style.height"
    [style.left.px]="html.attrs.dndPosition.x ?? 0"
    [style.top.px]="html.attrs.dndPosition.y ?? 0"
    [innerHTML]="html.content"
>
</div>

<!--FIXME: Left and top not working
The position: static property prevents left from having an effect.
Try setting position to something other than static.
-->

<!-- 
ANGULAR EDITOR -> Store to database -> Take information

-->

<!--FIXED: 
https://stackoverflow.com/questions/41334265/set-height-of-div-equal-to-height-of-window-angular
https://stackoverflow.com/questions/46383424/html-encoding-in-angular-4/46383764-->