<div class ="border-width-container">
    <div class="border-width-separator">
        <label for="border-width-input">Border width: </label>
    </div>
    <div class="border-width-separator">
        @if (isMixed) {
            <span (click)="onMixedClick($event)">Mixed</span>
        }
        @else {
            <input 
                id="border-width-input" 
                type="number" 
                [attr.min]="minBorderDimensions" 
                [attr.max]="maxBorderDimensions" 
                [(ngModel)]="$any(borderWidthValue)" 
                #borderWidthInput />
        }
        <img src="/arrow-down.svg" class="dropdown-image"(click)="onDropdownActivation($event)"/>
    </div>
</div>
@if (shouldDropDown) {
    <table class="border-width-mixed-table">
        <tr>
            <td>
                <img src="/card-face-attributes_border-top-icon.svg"/>
                <input 
                    id="top-edge" 
                    type="number" 
                    placeholder="T" 
                    [attr.min]="minBorderDimensions" 
                    [attr.max]="maxBorderDimensions" 
                    [(ngModel)]="$any(borderTopWidthValue)"
                    #borderTopInput />
            </td>
            <td>
                <img src="/card-face-attributes_border-bottom-icon.svg"/>
                <input 
                    id="bottom-edge"
                    type="number" 
                    placeholder="B" 
                    [attr.min]="minBorderDimensions" 
                    [attr.max]="maxBorderDimensions" 
                    [(ngModel)]="$any(borderBottomWidthValue)"
                    #borderBottomInput/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/card-face-attributes_border-left-icon.svg"/>
                <input 
                    type="number" 
                    id="left-edge" 
                    placeholder="L" 
                    [attr.min]="minBorderDimensions" 
                    [attr.max]="maxBorderDimensions" 
                    [(ngModel)]="$any(borderLeftWidthValue)"
                    #borderLeftInput/>
            </td>
            <td>
                <img src="/card-face-attributes_border-right-icon.svg"/>
                <input 
                    id="right-edge" 
                    type="number" 
                    placeholder="R" 
                    [attr.min]="minBorderDimensions" 
                    [attr.max]="maxBorderDimensions" 
                    [(ngModel)]="$any(borderRightWidthValue)" 
                    #borderRightInput/>
            </td>
        </tr>
    </table>
}
