<div 
        [hidden]="!this.cardGameCoreService.isCardsCollectionMenuOpen()" 
        class="cards-menu" 
        [class.open]="this.cardGameCoreService.isCardsCollectionMenuOpen()" 
        cdkDropList
    >
    <!-- The configured tracking expression (track by identity) caused re-creation of the entire collection of size 2. This is an expensive operation requiring destruction and subsequent creation of DOM nodes, directives, components etc. Please review the "track expression" and make sure that it uniquely identifies items in a collection. Find more at -->
    <!--https://angular.dev/guide/image-optimization-->
    <!--Use ngSrc with nonstatic images-->
    @if (cards.length > 0)
    {
        <!--TODO: Implement caching for the images !-->
        @for (card of cards; track card.cardId) {
        <!--TODO: Wrap the draggable out of there-->
        <div cdkDrag (cdkDragMoved)="onDragMoved($event)" (cdkDragDropped)="onDragDrop($event, card)" (contextmenu)="onCardRightClick($event, card.cardId)">
            <app-card [card]="card" [title]="card.cardName" />
        </div>
        }
    }
</div>

@if (currentContextMenuId !== "") {
<app-action-context-menu [ngStyle]="getRightClickMenuStyle()" [actionContextMenuItems]="actionContextMenuItems"
    (onActionContextMenuItemClick)="handleActionContextMenuItemClick($event)"></app-action-context-menu>
}
