<div class="image-container">
    <ng-content/>
    <img 
        [src]="imageHtmlContent.src"
        [alt]="imageHtmlContent.alt" 
        [width]="imageHtmlContent.width" 
        [height]="imageHtmlContent.height"
    />
    <svg (mousedown)='onCornerClick($event, bottomRightResize)' class="resize-indicator" width="5" height="5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
        pointer-events="auto">
        <polyline points="0,20 20,0 20,20" stroke="#555" stroke-width="2" fill="none" />
        <polyline points="5,20 20,5" stroke="#555" stroke-width="2" fill="none" />
    </svg>
</div>
