/*Absolutely positioned children: Similar to floated elements, absolutely positioned children don't contribute to the parent's size calculation*/
.image-container {
    /*position: absolute;*/
}

.image-corner-resize {
    position: absolute;
    width: 10px;
    height: 10px;
}   

#image-bottom-right-resize { bottom: 0px; right: 0px; }

.resize-indicator {
    position: absolute;
    bottom: 7px;
    right: 4px;
    cursor: se-resize;
    opacity: 0.7;
    user-select: none;
    pointer-events: auto;
  }